<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717979708177-ab1r4nbpge4ul61mb9asj2qgcor4ka72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717979708177-ab1r4nbpge4ul61mb9asj2qgcor4ka72</string>
	<key>API_KEY</key>
	<string>AIzaSyB8GSucEbq0D9bR7oLYRbUX1v1T-UQ4RxE</string>
	<key>GCM_SENDER_ID</key>
	<string>717979708177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abbos.SmartShop</string>
	<key>PROJECT_ID</key>
	<string>smart-shop-8d540</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-shop-8d540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717979708177:ios:ffd15243c11f3efc943ab0</string>
	<key>DATABASE_URL</key>
	<string>https://smart-shop-8d540.firebaseio.com</string>
</dict>
</plist>